.main-board{
  width: 100vw;
  height: 80vh;
  display: flex;
}
.main-image {
  width: 80vw;
  height: 60vh;
  background-image: image-url('top.jpg');  
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}
.main-contents {
  font-family: "Noto Serif JP", serif;
  width: 30vw;
  height: 60vh;
  background-color: grey;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  padding-left: 5px;
}
.course-img-content{
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  background-color: black;
}

.course-contents {
  width: 100vw;
background-color: brown;
display: flex;
margin-top: -20vh;
}